name: Tests
on: [push, pull_request]

jobs:
  tests:
    name: ${{ matrix.env }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { python: "3.10", os: ubuntu-latest, env: py310 }
          - { python: "3.10", os: windows-latest, env: py310 }
          - { python: "3.10", os: macos-latest, env: py310 }
          - { python: "3.11", os: ubuntu-latest, env: py311 }
          - { python: "3.9", os: ubuntu-latest, env: py39 }
          - { python: "3.8", os: ubuntu-latest, env: py38 }
          - { python: "pypy-3.9", os: ubuntu-latest, env: pypy39 }
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: "**/pyproject.toml"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade hatch
      - name: Test
        run: hatch run test.${{ matrix.env }}:test
